/.gradle
/build
/*/build
app_mojolauncher/src/main/assets/components/jre
/app_mojolauncher/src/main/assets/components/jre-new/
/app_mojolauncher/src/main/assets/components/jre-21/
local.properties
.idea/
app_mojolauncher/.cxx/
.vs/
/curseforge_key.txt
/app_mojolauncher/libs/ltw-release.aar
